{% extends "polls/base.html" %}
{% block main %}

<div class="container-fluid p-3">
    <h3>Polls list</h3>
    {% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
    {% else %}
    <p>No polls are available.</p>
    {% endif %}
</div>

<div class="container-fluid p-3">
    <!-- from the htmx docs, starter code -->
    <!-- have a button POST a click via AJAX -->
    <button type="button"
        hx-post="/polls/clicked/" hx-swap="innerHTML"
        class="btn btn-primary"
    >
        Click Me
    </button>
</div>

{% endblock main %}